body
{
}
.navbar-brand .img-thumbnail
{
 width: 80px;
 padding: 0px;
 border: 0;
 position: relative;
 top: -17px;
}

.images
{
margin-top: -10px;
background-color: #607d8b05;
webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
min-height: 400px;
}
.images .row
{
 margin-top: 16px;
}
.images .row .col-lg-4
{
margin-top: 10px;
}
.images .row .col-lg-4 form
{
 background-color: #4caf5000;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
     height: 153px;

}
.images form h1
{
 color: green;
    font-family: monospace;
}
.images form h1 span
{
 color: orange
}
.images form select
{
 width: 75%;
    height: 25px;
}
.images form button
{
 margin-top: 5px;
    background-color: orange;
    width: 72px;
    height: 32px;
    color: white;
    border-radius: 9px;
}
.about
{
 background-color:#094009;
  min-height: 259px;
  margin-top: 54px;
}
.about .about-us h3
{
 font-size: 17px;
     color: orange;
     font-weight: 700;

}
.about .about-us .list-unstyled li
{
 color: white;
}
.about .about-us .nav .list-unstyled li
{
 display: inline-block;
 margin-left: 17px;
}
.about .about-us .nav
{
 text-align: center;
    margin-top: 22px;
}
.about .about-us .nav .list-unstyled li:after
{
 content: '|';
}

.about .about-us .nav .list-unstyled li:last-child
{
 content: '';
}

.about .about-us p
{
 color: white;
 text-align: center;
}
.about .about-us h1
{
 color: white;
    float: right;
}
.about .about-us .fa-3x
{
 color: white;
    float: right;
    position: relative;
    top: -73px;
}
.abouts
{
    margin-top: 15px;
 
}
.abouts-us hr
{
margin-top: 0px;
margin-bottom: -50px;
border: 0;
border-top: 6px solid #FF9800;
}


 .abouts-us .col-xs-2 button
 {
    border-radius: 7px;
    background-color: white;
    width: 100%;
    color: darkgrey;
    font-weight: 700;
    border: 2px solid #cccccc85;
    padding: 7px
 }
  .abouts-us .col-xs-2 button:hover
  {
       background-color:#094009;
       color: white

  }
  .about-features
  {
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    min-height: 400px;
   

  }
  .features .img-thumbnail
  {
   height: 432px;
    width: 100%;

  }
.about-info
{
 margin-top: 20px;
}
.info .col-xs-4 .glyphicon
{
 font-size: 11px;
    color: #f98900;

}
.info .col-xs-4 h4
{
 display: inline-block;
    margin-left: 3px;
}

.info .col-xs-4 a
{
 color: green;
    text-decoration: none;
    margin-left: 3px;
}
.info .col-xs-4 a:hover
{
 color:#f98900;
  text-decoration: underline;

}
.about-info hr
{
 border-top: 1px solid orange;
}

.about-info h5
{
color: orange;
font-weight: bold;
font-size: large;
}
.about-info .lead
{
 color: #827f7f;
    font-size: 15px;
}
#scroll-top
{
 display: block;
    float: right;
    color: green;
}

#scroll-top:hover
{
 color: orange;

}
.contact h3
{
 color: orange;
}
.contact hr
{
     width: 194px;
    margin: 0;
    height: 18px;
    border-top: 1px solid orange;
}
.contact form select
{
 margin-left: 23%;
 width: 31%;
 border: 1px solid #111;

}

.contact form input
{
 margin-left: 25%;
    width: 32%;
    border: 1px solid #111;
}
.contact form button
{
     text-align: center;
    margin-left: 41%;
    background-color: orange;
    width: 91px;
    border-radius: 34px;
    border: none;
    height: 35px;
    color: white;
}
label
{
 font-weight: 500
}

.site h3
{
 color: orange;
}
.site hr
{
 float: left;
    width: 8%;
    margin-top: -4px;
    border: 0;
    border-top: 2px solid orange;
}
.site a
{
 color: green;
    margin-right: 5px;
    margin-bottom: 11px;
    margin: -88px;
}



